*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html, body{
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
    height: 100%;

}
.myName{
    font-size: 350% !important;
}  
   @media screen and (max-width: 575px) {
    .nav {
        position: relative;
        /*top:-75%!important; */
        float:right;
        
        left:-50% !important; 
        /* margin: 5%; */
        border:1px solid   purple;
        width:100%;
    }
    .nameHolder{
        /* font-size: calc(1vw + 6 * ((5vw - 320px) / 680)) !important; */
        /* margin:5%; */
        left:-25% !important; 
        float: right;
    }
    .myName{
        font-size: 37.5px !important;
    } 
}  

@media screen and (max-width: 658px) {

    .myName{
        font-size: 320% !important;
    } 
}  

 
.header{
    position: relative;
    height: 100%;
}
.header h1{
    font-family: 'Georgia', serif;
    font-weight: 800;
    color:#000;


}
.header p {
    font-family: 'Georgia', serif;
    line-height: 1em;
    font-size: 17px;
   
}
.row{
    position: relative;
    top:50%;
    left:50%;
    transform: translate(-25%, 0%);
    width:100%;
    padding:0;
    margin:0;
    height: 100%; 
    
}
.name{
     position: fixed;
     padding: 0 !important;
    margin:0!important;
    top:-50%;
    transform: translate(0%, 0%);  
}
.nameHolder{
    position: relative;
    border:1px solid rebeccapurple;
    top:50%;
    left: 0%;
    transform: translate(0%, -50%);
    padding:1%;
    width: 100%;
}
.menu{
     position: fixed;
     top:-50%;
    transform: translate(0%, 0%); 
    padding: 0;
    margin:0;
}
.nav{
    position: relative;
     top:50%;
    float:right;
    transform: translate(0%, -50%);
    padding:0%;
}
a{
    font-weight: 900;
    color: black !important;
    text-align: right;
}
.desc{
    margin-top:2.5%;
    width:100%;
    overflow: hidden;
    display:table;
    bottom: 0;
}
#aboutMe{
    width:100%;
    font-weight: 200;
}